body {
    background-color: black;
    color: white;
    width: 1000px;
}
span.webpage {
    text-decoration-line: overline;
    text-decoration-color: white;
}
div.headers {
    font-weight: bold;
    font-style: italic;
}
div.topic {
    text-decoration-line: underline;
    text-decoration-color: rgb(255, 255, 255);
}
div.p {
    background-color: darkgrey;
    color: black;
}
a.menu {
    color: skyblue;
}
a.others {
    color: teal;
}
img {max-width: 50%;
}
ol:hover {
    background-color: black;
    color: springgreen;
}
@media only screen and (max-width: 600px) {
    body {
        background-color: darkgrey;
    }
}